@use 'constants' as const;

#root {
	width: 100%;
	/* max-width: 1280px; */
	/* margin: 0 auto; */
	/* padding: 2rem; */
	/* text-align: center; */

	// mobile & tablet
	font-size: 16px;

	// desktop
	@media only screen and (min-width: const.$tablet) {
		font-size: 18px;
	}
}

.app {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.center-content {
	max-width: const.$max-width;
}

.grey-bg {
	width: 100%;
	display: flex;
	justify-content: center;

	background-color: const.$grey;
}

.blue-bg {
	width: 100%;
	display: flex;
	justify-content: center;
	
	background-image: url("../assets/images/code-bg.jpg");
	background-size: cover;
}

.red-text {
	color: const.$red;
}

h1 {
	font-weight: 300;
	font-size: 42px;

	// tablet
	@media only screen and (min-width: const.$mobile) {
		font-size: 94px;
	}

	// desktop
	@media only screen and (min-width: const.$tablet) {
		font-size: 84px;
	}
}

h2 {
	font-weight: 400;
	font-size: 34px;

	// desktop
	@media only screen and (min-width: const.$tablet) {
		font-size: 50px;
	}
}

h3 {

}

h4 {
	font-weight: 300;
	font-size: 20px;
	// tablet

	// desktop
	@media only screen and (min-width: const.$tablet) {
		font-size: 26px;
	}

}