@use 'constants' as const;

.navbar {
    display: flex;
    flex-direction: row;
	width: 100%;
    justify-content: space-between;
    align-items: center;


    font-family: const.$Rubik;

	// mobile
	padding: 11px;
	
	// tablet
	@media only screen and (min-width: const.$mobile) and (max-width: const.$tablet) {
		padding: 16px;
	}
	
	// desktop
	@media only screen and (min-width: const.$tablet) {
		padding: 10px;
	}
}

.logo {
	cursor: pointer;
	color: const.$white;
	
	&:hover {
		text-decoration: none;

		b {
			color: const.$red
		}
	}

	b {
		transition: 0.1s all ease-in;
		color: const.$white;
	}

	&.--navbar {
		// mobile
		font-size: 37px;
		padding-left: 19px;

		// tablet
		@media only screen and (min-width: const.$mobile) and (max-width: const.$tablet) {
			padding-left: 34px;
		}

		// desktop
		@media only screen and (min-width: const.$tablet) {
			font-size: 32px;
			padding-left: 10px;
		}
	}
}

.menu {
    font-size: 18px;
    text-transform: uppercase;
}

.menu-item {
	cursor: pointer;
	// 33 between = 19 + 14
	padding: 12px 19px;
	margin: 8px 14px;
	transition: 0.1s all ease-in;

	color: const.$white;

	&.--outline {
		border: 3px solid const.$red;
		border-radius: 14px;

		&:hover {
			border-color: const.$white;
		}
	}

	&:hover {
		color: const.$red;
		text-decoration: none;
	}

}

.menu-icon{
	// mobile
	width: 27px;
	height: 31px;
	// total x needs to be 45px=w+m*2 => m=(45-w)/2
	margin: 0 9px;
	padding-right: 19px;

	// tablet
	@media only screen and (min-width: const.$mobile) and (max-width: const.$tablet) {
		width: 39px;
		height: 44px;
		margin: 0 3px;
		padding-right: 34px;
	}
	
	// desktop
	@media only screen and (min-width: const.$tablet) {
		padding-right: 10px;
	}
}

.contact-icon {
	width: 34px;
	height: 34px;
	color: const.$white;
	padding: 10px;
	border: 5px solid const.$red;
	border-radius: 14px;
}

/* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */