@use 'constants' as const;

.portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 30px 40px;

    h2 {
        margin: 0;
    }

    .subtitle {
        margin: 5px 0 20px 0;
        text-align: center;
    }
}

.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    align-items: start;
    justify-content: center;
}


.portfolio-item {
    display: flex;
    flex-direction: column;

    border-radius: 5px;

    background-color: const.$navy2;

    // mobile
    width: 90%;

    // tablet & desktop
    @media only screen and (min-width: const.$mobile) {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px 20px;
        // width: 40%;
        max-width: 300px;
    }

    // desktop
    @media only screen and (min-width: const.$tablet) {
        max-width: 500px;
    }

    a {
        max-width: 100%;
        margin-top: 10px;
        margin: auto;
        

        img {
            max-width: 100%;
            border-radius: 5px 5px 0 0;
        }

        // tablet & desktop
        @media only screen and (min-width: const.$mobile) {
        }
    }
}

.portfolio-item-text {
    display: flex;
    flex-direction: column;

    margin: 30px;

    p {
        margin: 5px 0;
    }

    .title {
        font-size: 22px;
        margin: 5px 0;
        font-weight: 400;
        font-style: italic;

        a {
            color: const.$white;
        }
    }

    .langs {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .lang {
        font-style: italic;
        background-color: const.$grey;
        color: const.$black;
        padding: 6px 18px;
        border-radius: 30px;
    }

    .description {
        margin: 10px 0;
    }
}