:root {
	--black: #000000;
	--navy: #1B1D21;
	--lightnavy: #424750;
	--white: #FFFFFF;
	--grey: #D7D7D7;
	--red: #F85F5F;


	width: 100%;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 300;
	font-size: 25px;

	color-scheme: light dark;
	color: var(--white);
	background-color: var(--navy);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	scroll-behavior: smooth;
}

b {
	font-weight: 400;
}

a {
	color: var(--red);
	text-decoration: none;
}
a:hover {
  	text-decoration: underline;
}

body {
	margin: 0;
	display: flex;
	width: 100%;
}